{% extends "layout.html" %}

{% block main %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <a href="#intro" class="navbar-brand">
                <span class="fw-bold text-success">
                    <i class="bi bi-houses-fill"></i>
                    Tekkiez
                </span>
            </a>
            <!-- Toggle button for mobile screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/ctdashboard" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ctprofile" class="nav-link">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ctapplication" class="nav-link active">Apply for Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/ctapplicationsmade" class="nav-link">View Applications</a>
                    </li>
                    <li class="nav-item ms-2 d-none d-md-inline">
                        <a href="/logout" class="btn btn-outline-danger">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="property-management-page">
        <div class="container-lg mt-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div id=property-pictures" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="property-pictures" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="property-pictures" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="property-pictures" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="property-pictures" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="property-pictures" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/property_images/{{ property[0]['img_1'] }}" class="d-block w-100" alt="First Picture">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>First picture</h5>
                                <p>Some representative placeholder content for the first slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/property_images/{{ property[0]['img_2'] }}" class="d-block w-100" alt="Second Picture">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Second picture</h5>
                                <p>Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/property_images/{{ property[0]['img_3'] }}" class="d-block w-100" alt="Third Picture">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third picture</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/property_images/{{ property[0]['img_4'] }}" class="d-block w-100" alt="Fourth Picture">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third picture</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/property_images/{{ property[0]['img_5'] }}" class="d-block w-100" alt="Fifth Picture">
                                <div class="carousel-caption d-none d-md-block">
                                <h5>Third picture</h5>
                                <p>Some representative placeholder content for the third slide.</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="property-pictures" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="property-pictures" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="address">Job Description:</label>
                    <div class="input-group mb-1">
                        <input disabled class="form-control" type="text" name="job_description" id="job_description" value="{{ property[0]['job_requirements'] }}" ">
                    </div>
                    <form action="/ctapplicationpage/{{ property[0]['p_id'] }}" method="post">
                        <p class="lead text-center mt-5">Application Proposal</p>
                        <div class="form-floating mb-2 mt-2">
                            <textarea name="supp_text" class="form-control" id="supp_text" style="height:140px" required></textarea>
                            <label for="query">Why are you the perfect fit for the job?</label>
                        </div>
                        <div class="mb-1 text-center">
                            <button type="submit" class="btn btn-outline-primary">Submit Application</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}