{% extends "layout.html" %}

{% block main %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <a href="#intro" class="navbar-brand">
                <span class="fw-bold text-success">
                    <i class="bi bi-houses-fill"></i>
                    Tekkiez
                </span>
            </a>
            <!-- Toggle button for mobile screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/hdashboard" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/postproperty" class="nav-link">Post a Property</a>
                    </li>
                    <li class="nav-item">
                        <a href="/hpropertymanagement" class="nav-link">Property Management</a>
                    </li>
                    <li class="nav-item">
                        <a href="/happlicationmanagement" class="nav-link active">Applications Management</a>
                    </li>
                    <li class="nav-item ms-2 d-none d-md-inline">
                        <a href="/logout" class="btn btn-outline-danger">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="property-management-page">
        <div class="container-lg">
            <table class="table mt-3">
                <thead>
                  <tr>
                    <th style="width:5%" scope="col">#</th>
                    <th style="width:25%" scope="col"></th>
                    <th style="width:10%" scope="col">Property Name</th>
                    <th style="width:10%" scope="col">Application Date</th>
                    <th style="width:10%" scope="col">Caretaker Name</th>
                    <th style="width:25%" scope="col">Picture</th>
                    <th style="width:15%" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for application in applications %}
                  <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <div style="height:200px; width: 200px">
                            <img class="img-fluid" src="/static/property_images/{{ application['image'] }}" alt="Apartment">
                        </div>
                    </td>
                    <td>{{ application["property_name"] }}</td>
                    <td>{{ application["date_of_application"] }}</td>
                    <td>{{ application["caretaker_name"] }}</td>
                    <td>
                        <div style="height:100%; width:200px; max-width:100%;">
                            <img src="/static/profile_pictures/{{ application['caretaker_picture'] }}" alt="ProfilePicture" class="img-fluid">
                        </div>
                    </td>
                    <td>
                        <form action="/happlicationmanagement" method="post">
                            <input hidden type="number" name="application_id" id="application_id" value="{{ application['application_id'] }}">
                            <div class="mb-1 text-start">
                                <button type="submit" class="btn btn-outline-danger">View</button>
                            </div>
                        </form>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </section>

{% endblock %}